
extends ../layouts/default.jade

block breadcrumbs
    ul
        li
            span.fa.fa-cloud-upload
            |  Submit


block content
    div.submission-container(align='center')
        div.submission-header
            span(style='font-size: 3.3em').fa.fa-cloud-upload
            p(style='font-size: 1.7em; font-weight: bolder')
                | Tell us about your live design!

            div.tab-content
                        input(type="hidden", name="submitType", value="new")
                        div.row
                            div.col-md-12
                                div.form-group-100.required
                                    label(for="name") Lab Protocol Used
                                    input.form-control(name='name',id="name",placeholder='A short title for your collection.  You can use spaces and symbols here.')
                        div.row
                            div.col-md-12
                                div.form-group-100.required
                                    label(for="description") Researcher
                                    textarea.form-control(name='description', id="description"
                                            placeholder='The more you say, the easier it will be to find your design.')
                        div.row
                            div.col-md-12
                                div.form-group-100
                                    label(for="citations") Citations (optional)
                                    input.form-control(name='citations', id="citations"
                                                       placeholder='Comma separated Pubmed IDs, we\'ll do the rest!')

                        div.row
                            div.col-md-12
                                button(type='submit').btn.btn-primary.btn-lg Submit
